# Dependencies
node_modules/

# Expo & React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Environment files & Firebase Credentials
.env
.env.local
google-services.json
GoogleService-Info.plist
**/google-services.json

# Logs & System
*.log
.DS_Store
Thumbs.db



# Builds
*.apk
*.aab