# Dependencies
node_modules/

# Expo & React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Environment files
.env
.env.local

# Logs & System
*.log
.DS_Store
Thumbs.db

# Sensitive Keys
google-services.json

# Builds
*.apk
*.aab