<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866177756650-ios.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866177756650-ios</string>
	<key>API_KEY</key>
	<string>AIzaSyAwFQpjGq4MeHLAEY6G8FXZ_3Wq_Bq1oz4</string>
	<key>GCM_SENDER_ID</key>
	<string>866177756650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digilocal.vendor</string>
	<key>PROJECT_ID</key>
	<string>visitor-log-d3dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>visitor-log-d3dd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866177756650:ios:13eee9020a0bd5e10e5693</string>
</dict>
</plist>
